<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <nav>
    <img src="/image/image.png" alt="logo">
  </nav>
  <body>
    <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= title %></h1>
    <h1><%= username %></h1>
    <p>God abeg o, Book go help o ......................man don tire @ ajs passed by   <%= title %></p>
  </body>
</html>